.header{
    margin: 70px;
    margin-left: 28%;
}
.results{
    margin-top: 50px;
}
.progress {
	background-color: #d8d8d8;
	border-radius: 20px;
	position: relative;
	margin: 15px 10px;
	height: 25px;
	width: 300px;
}

.progress-done {
	background: linear-gradient(to left, #897d81, #FF9472);
	box-shadow: 0 3px 3px -5px #F2709C, 0 2px 5px #F2709C;
	border-radius: 20px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 0;
	opacity: 0;
	transition: 1s ease 0.3s;
}

.lables{
    margin: 15px 0;
    font-size: large;
    font-weight: 500;
}

.final_good{
	background-color: #0080009e;
    border-radius: 10px;
    padding: 8px;
    margin-top: 30px;
    margin-left: 100px;
    color: white;
    width: 450px;
    text-align: center;
    box-shadow: 1px 3px 7px #755c5c;
}

.final_bad{
	background-color: red;
    border-radius: 10px;
    padding: 8px;
    margin-top: 30px;
    margin-left: 100px;
    color: white;
    width: 450px;
    text-align: center;
    box-shadow: 1px 3px 7px #755c5c;
}
.final_no{
	background-color: yellow;
    border-radius: 10px;
    padding: 8px;
    margin-top: 30px;
    margin-left: 100px;
    color: white;
    width: 450px;
    text-align: center;
    box-shadow: 1px 3px 7px #755c5c;
}